/* Navbar */
.navbar {
    background: linear-gradient(90deg, #41f113, #000000); /* Gradient background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    font-size: 1.6rem;
    max-height: 80px;
}

.navbar-brand {
    margin-left: 30px;
    font-size: 1.6rem; /* Larger font size for brand */
    font-weight: bold; /* Bold font weight for brand */
}

.navbar-toggler-icon {
    border-color: #fff; /* White color for navbar toggler icon */
}

.navbar-nav .nav-link {
    color: #fff; /* White text color for links */
    font-weight: 500; /* Medium font weight for links */
    transition: color 0.3s; /* Smooth transition on hover */
}

.navbar-brand:hover {
    color: #00050c; 
}
.navbar-nav .nav-link:hover {
    color: #00050c; 
}

.container {
    padding: 20px; /* Add padding to the main container */
}

h1 {
    font-size: 2rem; /* Larger font size for heading */
    margin-bottom: 10px; /* Add more spacing below heading */
    color: #000000; /* Blue color for heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow */
}

.footer {
    position: fixed; /* Fixed positioning */
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #000000, #41f113);
    color: #fff; /* White text color */
    padding: 10px; /* Padding for spacing */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    max-height: 70px;
    z-index: 999; /* Ensure it's above other content */
}

.footer span {
    font-size: 1rem; /* Medium font size */
}

.footer span a {
    color: #070fff; /* Yellow text color for links in footer */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition on hover */
}

.footer span a:hover {
    color: #fff; /* White text color on hover */
}


.user-image {
    width: 60px;
    margin-left: 0%;
    height: 60px;
    border-radius: 40%;
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    background-image: url("https://img.icons8.com/nolan/64/1A6DFF/C822FF/critical-thinking.png");
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }